.u-flex {
  display: flex;
  
  &.u-row {
    flex-direction: row;

    &.u-spacing-0_5em {
      > * + * {
        margin-left: 0.5em;
      }
    }
  }

  &.u-col {
    flex-direction: column;
  }

  .u-grow {
    flex-grow: 1;
  }
}

.u-cursor-pointer {
  cursor: pointer;
}

.u-hover-blue:hover {
  color: blue;
}

@for $i from 1 through 5 {
  .u-m-#{$i}em {
    margin: #{$i}em;
  }

  .u-p-#{$i}em {
    padding: #{$i}em;
  }
}

p + p {
  margin-top: 1em;
}
